.workspace-selector-wrapper {
  position: relative;
  display: inline-block;
}

.workspace-selector {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.25rem 0;
  cursor: pointer;
  position: relative;
}

.workspace-selector .workspace-logo {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.5rem;
}

.workspace-selector .workspace-name {
  font-size: 0.875rem;
  font-weight: 600;
}

.workspace-selector .workspace-access {
  font-size: 0.75rem;
  color: var(--layout-text-workspace);
  background-color: var(--layout-bg-gray);
  padding: 0.125rem 0.5rem;
  border-radius: var(--radius-sm);
  font-weight: 500;
}

.workspace-selector .workspace-arrow {
  width: 1rem;
  height: 1rem;
}

.workspace-dropdown__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.workspace-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 15rem;
  background-color: var(--layout-bg-white);
  box-shadow: 0 4px 8px var(--layout-shadow-medium);
  border-radius: var(--radius-md);
  z-index: 20;
  padding: 0.5rem;
  background: var(--workspace-dropdown-gradient);
  backdrop-filter: blur(6px);
}

.workspace-dropdown .workspace-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  position: relative;
}

.divider {
  height: 1px;
  background-color: var(--layout-bg-gray-hover);
  margin: 0.5rem 0;
  border: 1px dashed var(--layout-border-divider);
  border-width: 0px 0px thin;
}

.workspace-create {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  gap: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  position: relative;
}

.workspace-create:hover {
  background-color: var(--layout-bg-gray-alpha);
}

.workspace-plus-sign {
  width: 1.1rem;
  height: 1.1rem;
}

.workspace-create-text {
  width: fit-content;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--layout-text-primary);
  border: none;
  background-color: transparent;
  justify-content: start;
}

@media (max-width: 1024px) {
  .workspace-selector .workspace-name {
    font-size: 0.8rem;
  }

  .workspace-selector .workspace-access {
    font-size: 0.7rem;
    padding: 0.1rem 0.4rem;
  }
}

@media (max-width: 600px) {
  .workspace-selector .workspace-name,
  .workspace-selector .workspace-access {
    display: none;
  }

  .workspace-selector .workspace-arrow {
    display: none;
  }
}
