.task-assignees-container {
  display: flex;
  gap: var(--spacing-md);
}

.add-assignee-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-7xl);
  color: #7c7c7c;
  font-weight: var(--font-semi-bold);
  background-color: #d3d3d3;
  border: 1px dashed #a9a9a9;
  opacity: 0.7;
  cursor: pointer;
  border-radius: 50%;
  width: var(--icon-xl);
  height: var(--icon-xl);
}

.add-assignee-container:hover {
  opacity: 0.8;
}

.add-assignee-container:active {
  opacity: 1;
  transform: scale(0.95);
}
