.react-kanban-board {
  min-height: 100%;
  min-width: 100%;
  height: fit-content;
  scrollbar-width: auto;
  scrollbar-color: var(--kanban-scrollbar-thumb) var(--kanban-scrollbar-track);
}

.react-kanban-column {
  padding: var(--spacing-xl);
  border-radius: var(--spacing-xl);
  background-color: var(--kanban-column-bg);
  margin: var(--spacing-xl);
  min-width: 19rem;
}

.react-kanban-column input:focus {
  outline: none;
}
