.comment-input-bar-container {
  display: flex;
  align-items: center;
  min-height: var(--comment-bar-height);
  align-self: center;
  width: 100%;
  position: sticky;
  bottom: 0;
  z-index: 10;
}

.user-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  flex: 0 0 auto;
}

.user-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comment-input-bar {
  border: 1px solid var(--kanban-border-color);
  padding: var(--spacing-md);
  border-radius: var(--radius-md);
  width: 100%;
}

.comment-input-bar textarea {
  width: 100%;
  border: none;
  resize: none;
  font-size: var(--font-size-base);
  font-family: inherit;
  outline: none;
  background-color: transparent;
}

.comment-input-bar-actions {
  display: flex;
  justify-content: flex-end;
}

.comment-input-bar-attach {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.attach-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  border-radius: 50%;
  transition: background-color var(--transition-fast),
    filter var(--transition-fast);
  display: flex;
  align-items: center;
  justify-content: center;
}
.attach-button:hover {
  background-color: var(--kanban-action-hover);
}

.attach-button img {
  width: var(--icon-sm);
  height: var(--icon-sm);
}

.send-button {
  background-color: var(--kanban-text-primary);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: var(--radius-md);
  cursor: pointer;
  font-size: var(--font-size-base);
  font-weight: var(--font-semi-bold);
  flex: 0 0 auto;
  height: 2.25rem;
}

.send-button:hover {
  opacity: 0.9;
}
