.kanban-taskbar-tabs {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: var(--spacing-md) var(--spacing-sm);
  border-bottom: 1px solid var(--kanban-bg-hover-dark);
  background-color: var(--kanban-tab-bg);
}

.kanban-taskbar-tab {
  flex: 1;
  text-align: center;
  padding: var(--spacing-md) 0;
  cursor: pointer;
  font-size: var(--font-size-base);
  font-weight: var(--font-medium);
  color: var(--kanban-text-secondary);
  transition: color var(--transition-fast), border-bottom var(--transition-fast);
  background-color: transparent;
  border: none;
  border-radius: var(--radius-md);
}
.kanban-taskbar-tab.active {
  background-color: white;
  color: black;
  transition: background-color var(--transition-fast),
    color var(--transition-fast), transform var(--transition-fast);
  box-shadow: 0 2px 6px var(--kanban-tab-active-shadow);
}
