.react-kanban-column-header {
  padding-bottom: 10px;
  font-weight: var(--font-bold);
}
.react-kanban-column-header input:focus {
  outline: none;
}

.react-kanban-column-header__spacer {
  display: flex;
  justify-content: space-between;
}

.react-kanban-column-header__button {
  color: var(--text-black);
  background-color: var(--layout-bg-white);
  border-color: var(--border-color);
}
.react-kanban-column-header__button:hover,
.react-kanban-column-header__button:focus,
.react-kanban-column-header__button:active {
  background-color: var(--white-active);
}

.react-kanban-column-adder-button {
  border: 2px dashed var(--kanban-dashed-border-color);
  height: 132px;
  margin: 5px;
}
.react-kanban-column-adder-button:hover {
  cursor: pointer;
}

.kanban-content.fixed-column .react-kanban-board {
  overflow-y: auto;
}

.kanban-column-header {
  display: flex;
  justify-content: space-between;
  margin: 0 5px 10px 5px;
  align-items: center;
}

.kanban-column-counter {
  font-size: var(--font-size-md);
  min-width: 1.5rem;
  min-height: 1.5rem;
  color: var(--kanban-counter-text-color);
  font-weight: var(--font-bold);
  margin: 0 0.4rem 0 0;
  padding: var(--spacing-xs);
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: var(--radius-rounded);
  background-color: var(--kanban-counter-bg);
}

.kanban-action-buttons {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.kanban-new-card-input {
  border-radius: 0.8rem;
  background-color: var(--layout-bg-white);
  padding: 10px;
  margin-bottom: 7px;
  border: none;
  width: 100%;
  box-shadow: 0 1px 3px var(--kanban-card-shadow);
  font-size: var(--font-size-4xl);
}

.six-dots {
  width: 1.5rem;
  height: 1.5rem;
  cursor: grab;
}

.kanban-column-title-container{
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}