.task-priority-container {
  display: flex;
  gap: var(--spacing-md);
}

.task-priority-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--spacing-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-regular);
  font-weight: var(--font-medium);
  color: var(--kanban-text-primary);
  transition: background-color var(--transition-normal),
    font-weight var(--transition-normal);
  gap: var(--spacing-sm);
  border: var(--kanban-priority-button);
}
.task-priority-button.active {
  outline: var(--kanban-priority-button-active);
}

.task-priority-button img {
  width: var(--icon-xs);
  height: var(--icon-xs);
  margin-right: var(--spacing-sm);
}
