.sidebar-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--layout-text-secondary);
  width: 100%;
  padding: 0.25rem 0.5rem 0.25rem 0.75rem;
  line-height: 2rem;
  border-radius: 4px;
  transition: background-color var(--transition-fast),
    color var(--transition-fast);
}

.sidebar-link img {
  width: 1rem;
  height: 1rem;
}

.sidebar-link:hover {
  background-color: var(--layout-bg-gray);
}

.sidebar-link.is-active {
  background-color: var(--sidebar-link-active-bg);
  font-weight: 600;
  position: relative;
}

.sidebar.collapsed .sidebar-link {
  justify-content: center;
  padding-left: 0.25rem;
}

.sidebar.collapsed .sidebar-link span {
  display: none;
}
