.kanban-column-options-container {
  position: relative;
  width: fit-content;
}

.kanban-options-button {
  width: 1.9rem;
  height: 1.9rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: var(--radius-rounded);
  padding: 0.3125rem;
  display: flex;
  font-weight: var(--font-bold);
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;
}

.kanban-options-button:hover {
  background-color: var(--kanban-bg-active);
}

.kanban-options-button img {
  height: var(--icon-sm);
  width: var(--icon-sm);
}

.kanban-column-options {
  position: absolute;
  top: 2rem;
  right: 0;
  background-color: var(--layout-bg-white);
  box-shadow: 0 4px 8px var(--kanban-status-dropdown-shadow);
  border-radius: var(--radius-md);
  z-index: 20;
  padding: var(--spacing-md);
  display: flex;
  flex-direction: column;
  background: var(--workspace-dropdown-gradient);
  backdrop-filter: blur(6px);
}

.kanban-column-options button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: var(--spacing-md) var(--spacing-xl);
  text-align: left;
  border-radius: var(--spacing-sm);
  font-size: var(--font-size-2xl);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}

.kanban-column-options button:hover {
  background-color: var(--kanban-bg-hover);
}

.kanban-column-options button img {
  width: var(--icon-sm);
  height: var(--icon-sm);
  margin-right: var(--spacing-md);
}
