.kanban-column-title {
  font-size: var(--font-size-6xl);
  font-weight: var(--font-semi-bold);
  color: var(--text-black);
  width: fit-content;
  max-width: 10rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.kanban-column-title-input {
  font-size: var(--font-size-6xl);
  font-weight: var(--font-semi-bold);
  color: var(--text-black);
  width: fit-content;
  max-width: 8rem;
  border: none;
  justify-self: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  border-radius: var(--radius-md);
  padding: var(--spacing-xs) var(--spacing-md);
}
