.card-title-container {
  width: 100%;
}

.card-title-input {
  font-size: var(--font-size-4xl);
  line-height: 1.5rem;
  font-weight: var(--font-medium);
  width: 100%;
  outline: none;
  background-color: transparent;
  margin: var(--spacing-2xl) 0 var(--spacing-lg);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border: 2px solid transparent;
  border-radius: var(--radius-md);
  transition: border var(--transition-fast),
    background-color var(--transition-fast), padding var(--transition-fast);
  cursor: pointer;
}

.card-title-input.focused {
  padding: 0.2rem 0.4rem;
  border: 2px solid var(--kanban-text-primary);
  background-color: var(--kanban-card-bg);
  transition: border var(--transition-fast),
    background-color var(--transition-fast), padding var(--transition-fast);
  cursor: text;
}
