.task-overview-container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xl);
}

.task-field {
  display: flex;
  gap: var(--spacing-md);
  align-items: center;
  min-height: var(--icon-xl);
}

h4 {
  margin: 0;
  font-size: var(--font-size-2xs);
  font-weight: var(--font-semi-bold);
  color: var(--kanban-section-text-color);
  min-width: 6rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.5rem;
  align-self: flex-start;
}

img {
  width: var(--icon-xl);
  height: var(--icon-xl);
  border-radius: 50%;
}

@media (max-width: 1024px) {
  h4 {
    min-width: 5rem;
  }
}

@media (max-width: 600px) {
  h4 {
    min-width: 6rem;
    font-size: var(--font-size-sm);
  }
}
