.profile-sidebar__backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
  width: 0;
}

.profile-sidebar__backdrop.show {
  width: 100%;
  height: 100vh;
}

.profile-sidebar__container {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  width: var(--profile-sidebar-width);
  height: 100vh;
  box-shadow: 0px 0px 50px var(--layout-shadow-light);
  transform: translateX(100%);
  transition: transform var(--transition-fast),
    box-shadow var(--transition-fast), visibility var(--transition-fast);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--profile-sidebar-bg);
  backdrop-filter: var(--navbar-blur);
  overflow: hidden;
}

.profile-sidebar__container.show {
  visibility: visible;
  transform: translateX(0);
  box-shadow: 0px 0px 100px var(--layout-shadow-dark);
}

.profile-sidebar__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - var(--profile-logout-height));
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--profile-content-gradient);
  backdrop-filter: var(--navbar-blur);
}

.profile-sidebar__content::-webkit-scrollbar {
  width: 0.4rem;
}

.profile-sidebar__close {
  background: none;
  border: none;
  align-self: flex-start;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  margin: 1.25rem;
  position: relative;
  border-radius: 50%;
}

.profile-sidebar__close:hover {
  background-color: var(--layout-bg-gray);
  border-radius: 50%;
}

.profile-sidebar__close img {
  width: 0.8rem;
  height: 0.8rem;
}

.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 100%;
  position: relative;
  padding: 1.5rem 1.25rem;
}

.profile-sidebar__navs {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  border-top: 1px dashed var(--layout-border-gray);
  border-bottom: 1px dashed var(--layout-border-gray);
  padding: 1.5rem 1.25rem;
}

.profile-sidebar__discounts {
  padding: 1.5rem 1.25rem;
  width: 100%;
}

.profile-sidebar__logout {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.25rem;
  height: var(--profile-logout-height);
  bottom: 0;
  background-color: var(--layout-bg-white);
  width: 100%;
  background: var(--profile-logout-gradient);
}

@media (max-width: 1024px) {
  .profile-sidebar__container {
    width: 22rem;
  }

  .profile__container {
    padding: 1.25rem 1rem;
  }

  .profile-sidebar__navs {
    padding: 1.25rem 1rem;
  }

  .profile-sidebar__discounts {
    padding: 1.25rem 1rem;
  }
}

@media (max-width: 600px) {
  .profile-sidebar__container {
    width: 100vw;
  }

  .profile__container {
    padding: 1rem 0.75rem;
    gap: 1.5rem;
  }

  .profile-sidebar__navs {
    padding: 1rem 0.75rem;
  }

  .profile-sidebar__discounts {
    padding: 1rem 0.75rem;
  }

  .profile-sidebar__close {
    margin: 1rem;
  }
}
