.profile-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  border-radius: 0.4rem;
  padding: 0.5rem;
  width: 100%;
  transition: background-color var(--transition-normal);
  position: relative;
}

.profile-nav:hover {
  background-color: var(--layout-bg-gray-subtle);
}

.profile-nav__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.profile-nav__label {
  font-size: 0.875rem;
  font-weight: 400;
  margin-left: 1rem;
  color: var(--layout-text-secondary);
}

.profile-nav__count {
  background-color: var(--layout-bg-gray-hover);
  border-radius: var(--radius-md);
  font-size: 0.7rem;
  font-weight: 600;
  padding: 0.4rem 0.6rem;
  margin-left: 0.5rem;
  color: var(--font-red-color);
  background-color: var(--bg-red-color);
}
