.profile-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  border-radius: 0.4rem;
  padding: 0.5rem;
  width: 100%;
  transition: background-color var(--transition-normal);
  position: relative;
}

.profile-nav:hover {
  background-color: var(--layout-bg-gray-subtle);
}

.profile-nav__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.profile-nav__label {
  font-size: 0.875rem;
  font-weight: 400;
  margin-left: 1rem;
  color: var(--layout-text-secondary);
}

.profile-nav__count {
  background-color: var(--layout-bg-gray-hover);
  border-radius: var(--radius-md);
  font-size: 0.7rem;
  font-weight: 600;
  padding: 0.4rem 0.6rem;
  margin-left: 0.5rem;
  color: var(--font-red-color);
  background-color: var(--bg-red-color);
}

@media (max-width: 1024px) {
  .profile-nav {
    padding: 0.4rem;
  }

  .profile-nav__icon {
    width: 1.4rem;
    height: 1.4rem;
  }

  .profile-nav__label {
    font-size: 0.8rem;
    margin-left: 0.8rem;
  }
}

@media (max-width: 600px) {
  .profile-nav__icon {
    width: 1.3rem;
    height: 1.3rem;
  }

  .profile-nav__label {
    font-size: 0.75rem;
    margin-left: 0.75rem;
  }

  .profile-nav__count {
    font-size: 0.65rem;
    padding: 0.3rem 0.5rem;
  }
}
