.sidebar-logo {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
  margin-left: 0.4rem;
}

.logo-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 10px;
}

.logo-title {
  font-size: 1.5rem;
  color: var(--layout-text-secondary);
  justify-self: center;
}

@media (max-width: 1024px) {
  .logo-icon {
    width: 1.75rem;
    height: 1.75rem;
  }

  .logo-title {
    font-size: 1.25rem;
  }
}

@media (max-width: 600px) {
  .sidebar-logo {
    margin-bottom: 1rem;
  }

  .logo-icon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .logo-title {
    font-size: 1.1rem;
  }
}
